<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>categoryImageData</key>
		<data></data>
		<key>categoryTitle</key>
		<string></string>
		<key>albumSets</key>
		<array>
			<dict>
				<key>photos</key>
				<data></data>
				<key>albumRatingImage</key>
				<string>star_male.png</string>
				<key>albumSubtitle</key>
				<string></string>
				<key>albumTitle</key>
				<string></string>
				<key>albumCoverImageData</key>
				<data></data>
				<key>albumCoverImageName</key>
				<string></string>
			</dict>
		</array>
	</dict>
</array>
</plist>
