<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>likeImageName</key>
		<string>star_male.png</string>
		<key>builtDate</key>
		<date>2016-07-04T21:52:27Z</date>
		<key>albumTitle</key>
		<string>Test</string>
		<key>albumSubtitle</key>
		<string>testaubtitle</string>
		<key>coverImageData</key>
		<data></data>
	</dict>
</array>
</plist>
