<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>category0</key>
	<dict>
		<key>categoryTitle</key>
		<string></string>
		<key>categoryImage</key>
		<data></data>
		<key>albumSet</key>
		<dict>
			<key>photos</key>
			<dict>
				<key>photo0</key>
				<dict>
					<key>guessInfo</key>
					<array>
						<string>/location.x,location.y,info to guess</string>
						<string></string>
					</array>
					<key>photoData</key>
					<data></data>
					<key>downInfo</key>
					<string></string>
					<key>upInfo</key>
					<string></string>
					<key>rightInfo</key>
					<string></string>
					<key>leftInfo</key>
					<string></string>
					<key>clickInfo</key>
					<string></string>
					<key>sliderInfo</key>
					<array>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
					</array>
				</dict>
				<key>photo1</key>
				<dict>
					<key>photoData</key>
					<data></data>
					<key>downInfo</key>
					<string></string>
					<key>upInfo</key>
					<string></string>
					<key>rightInfo</key>
					<string></string>
					<key>leftInfo</key>
					<string></string>
					<key>clickInfo</key>
					<string></string>
					<key>sliderInfo</key>
					<array>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
					</array>
				</dict>
				<key>photo2</key>
				<dict>
					<key>photoData</key>
					<data></data>
					<key>downInfo</key>
					<string></string>
					<key>upInfo</key>
					<string></string>
					<key>rightInfo</key>
					<string></string>
					<key>leftInfo</key>
					<string></string>
					<key>clickInfo</key>
					<string></string>
					<key>sliderInfo</key>
					<array>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
					</array>
				</dict>
				<key>photo3</key>
				<dict>
					<key>photoData</key>
					<data></data>
					<key>downInfo</key>
					<string></string>
					<key>upInfo</key>
					<string></string>
					<key>rightInfo</key>
					<string></string>
					<key>leftInfo</key>
					<string></string>
					<key>clickInfo</key>
					<string></string>
					<key>sliderInfo</key>
					<array>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
					</array>
				</dict>
				<key>photo4</key>
				<dict>
					<key>photoData</key>
					<data></data>
					<key>downInfo</key>
					<string></string>
					<key>upInfo</key>
					<string></string>
					<key>rightInfo</key>
					<string></string>
					<key>leftInfo</key>
					<string></string>
					<key>clickInfo</key>
					<string></string>
					<key>sliderInfo</key>
					<array>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
					</array>
				</dict>
			</dict>
			<key>albumTitle</key>
			<string></string>
			<key>albumSubtitle</key>
			<string></string>
			<key>albumCoverImage</key>
			<data></data>
		</dict>
	</dict>
	<key>category1</key>
	<dict>
		<key>categoryTitle</key>
		<string></string>
		<key>categoryImage</key>
		<data></data>
		<key>albumSet</key>
		<dict>
			<key>photos</key>
			<dict>
				<key>photo0</key>
				<dict>
					<key>guessInfo</key>
					<array>
						<string></string>
					</array>
					<key>photoData</key>
					<data></data>
					<key>downInfo</key>
					<string></string>
					<key>upInfo</key>
					<string></string>
					<key>rightInfo</key>
					<string></string>
					<key>leftInfo</key>
					<string></string>
					<key>clickInfo</key>
					<string></string>
					<key>sliderInfo</key>
					<array>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
					</array>
				</dict>
				<key>photo1</key>
				<dict>
					<key>photoData</key>
					<data></data>
					<key>downInfo</key>
					<string></string>
					<key>upInfo</key>
					<string></string>
					<key>rightInfo</key>
					<string></string>
					<key>leftInfo</key>
					<string></string>
					<key>clickInfo</key>
					<string></string>
					<key>sliderInfo</key>
					<array>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
					</array>
				</dict>
				<key>photo2</key>
				<dict>
					<key>photoData</key>
					<data></data>
					<key>downInfo</key>
					<string></string>
					<key>upInfo</key>
					<string></string>
					<key>rightInfo</key>
					<string></string>
					<key>leftInfo</key>
					<string></string>
					<key>clickInfo</key>
					<string></string>
					<key>sliderInfo</key>
					<array>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
					</array>
				</dict>
				<key>photo3</key>
				<dict>
					<key>photoData</key>
					<data></data>
					<key>downInfo</key>
					<string></string>
					<key>upInfo</key>
					<string></string>
					<key>rightInfo</key>
					<string></string>
					<key>leftInfo</key>
					<string></string>
					<key>clickInfo</key>
					<string></string>
					<key>sliderInfo</key>
					<array>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
					</array>
				</dict>
				<key>photo4</key>
				<dict>
					<key>photoData</key>
					<data></data>
					<key>downInfo</key>
					<string></string>
					<key>upInfo</key>
					<string></string>
					<key>rightInfo</key>
					<string></string>
					<key>leftInfo</key>
					<string></string>
					<key>clickInfo</key>
					<string></string>
					<key>sliderInfo</key>
					<array>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
					</array>
				</dict>
			</dict>
			<key>albumTitle</key>
			<string></string>
			<key>albumSubtitle</key>
			<string></string>
			<key>albumCoverImage</key>
			<data></data>
		</dict>
	</dict>
</dict>
</plist>
